fastapi
uvicorn
gunicorn
httptools
uvloop
watchfiles
websockets
python-dotenv
python-multipart
pillow
requests
psycopg[binary]
langchain-openai
langchain-community
langchain-chroma
langchain-core
langsmith
openai
chromadb
pypdf
tiktoken
pydantic
aiohttp
psycopg2-binary
psycopg2